@-webkit-keyframes bouncing {
	0% {
		top: 10px;
	}

	50% {
		top: 500px;
	}
        
	100% {
		top: 10px;
	}
}

body {
	background-image: url( floor.jpg );
	background-size: 100% 100%;
	cursor: default;
	margin: 0px;
	padding: 0px;
}

#ball {
	position: absolute;	
	top: 10px;
	visibility: hidden;
}

.jack {
	position: absolute;
	visibility: hidden;	
}