body {
	background-image: url( floor.jpg );
	background-size: 100% 100%;
	cursor: default;
	margin: 0px;
	padding: 0px;
}

#ball {
	position: absolute;	
	top: 10px;
	visibility: hidden;
	
	-webkit-transition-property: top;
	-webkit-transition-duration: 1s;
}

.jack {
	position: absolute;
	visibility: hidden;	
}