#gestures {
	background-color: #0F0;
	bottom: 0px;
	left: 0px;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 0px;
}

#scenes {
	left: 0px;
	overflow: hidden;	
	position: absolute;
	top: 0px;
}

#scenes img {
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;	
}
