.airbus {
	background-image: url( ../assets/a320.png );
	background-repeat: no-repeat;
    -webkit-transform-origin: 32px 28px;
    -moz-transform-origin: 32px 28px;	
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url( ../assets/grass.jpg );
	background-repeat: repeat;
	overflow: hidden;
	cursor: default;		
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

.cessna {
	background-image: url( ../assets/172.png );
	background-repeat: no-repeat;
    -webkit-transform-origin: 32px 22px;
    -moz-transform-origin: 32px 22px;	
}

.mitchell {
	background-image: url( ../assets/b25.png );
	background-repeat: no-repeat;
    -webkit-transform-origin: 32px 26px;
    -moz-transform-origin: 32px 26px;	
}

.path {
	position: absolute;
	top: 0px;
	left: 0px;
}

.plane {
	position: absolute;
	width: 65px;
	height: 65px;	
}